body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;

	background-color: #f9f9f9;
}

.content {
    max-width: 1500px;
	margin: auto;
	background-color: #f3f3f3;
	border-radius: 10px 10px 0px 0px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.vendors-header {
    background-color: #f3f3f3;
	color: #1f1f1f;
	font-size: 1.5em;
    padding: 10px 10px 10px 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    border-radius: 10px 10px 0px 0px;
}

.filtering-column-content {
	background-color: #f3f3f3;
	padding: 10px;
}

.filter-box {
	padding: 10px 0px;
	margin: 5px 0px;
	background-color: white;
}

.filter-title-box {
	padding: 10px 0px;
}

.filter-title-box:hover {
	cursor: pointer;
}

.filter-title {
	padding-left: 20px;
	font-size: 1.2em;
    font-weight: 400;
    color: #00a69c;
}

.selected-filter {
	padding-left: 45px;
    margin-top: -10px;
	font-size: 0.8em;
	font-weight: 400;
    color: #0a2d37;
	cursor: pointer;
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.selected-filter > .fa + .fa, .selected-filter:hover > .fa {
	display: none;
}
.selected-filter:hover > .fa + .fa {
	display: initial;
}

.choice {
	margin-bottom: 4px;
    padding: 4px 0px 4px 35px;
	cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.choice:hover {
    background-color: #f3f3f3;
}

.choice > .fa-info-circle, .choice > span .fa-times {
	display: none;
}

.choice:hover > .fa-info-circle {
	display: initial;
}

.choice > .custom-badge {
	display: none;
}
.choice:hover > .custom-badge {
	display: initial;
}

.choice-selected {
    background-color: #00a69c42;
}

.choice-selected:hover {
    background-color: #00a69c42;
	box-shadow: 2px 2px 4px #aaa;
}

.choice-selected > span .fa-times {
	display: initial;
    font-size: .6em;
}

.choice-selected > span .fa-angle-right {
	display: none;
}

.choice-selected:hover > .custom-badge {
	display: none !important;
}

.vendors-list {
	margin-top: 5px;
}

.no-vendors-message {
	margin: 30px 0 0 50px;
	font-weight: 600;
}

/* A nice aspect ratio for a logo image would be 2/3: 300x200 */
.new-vendor {
	width: 180px;
    height: 120px;
    float: left;
    margin: 10px 1%;
	background-color: white;
	box-shadow: 2px 2px 4px #aaa;
}
.new-vendor:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
    transition: .35s;
	cursor: pointer;
}

.vendor-image {
    width: 95%;
    height: 95%;
    padding: 5px;
}

.badge {
	color: #00a69c;
}

.custom-badge {
    background-color: #00a69c;
    color: white;
    border-radius: 25%;
    text-align: center;
    padding: 3px 5px;
    font-size: 0.7em;
    font-weight: 700;
}

/* chatbot */
#chatbot {
	position: fixed;
	bottom: -10px;
	right: 20px;
	z-index: 9999;
    background: #ebebeb;
    color: white;
    border-radius: 16px 16px 0 0;
	min-width: 350px;
	max-height: 100%;
}

.chatbot-header {
    padding: 10px 10px 10px 16px;
	font-size: 1.4em;
	line-height: 1.4em;
    font-weight: 400;
    background: #622269;
    background: #00a69c;
    color: white;
    border-radius: 16px 16px 0 0;
}

.chatbot-title {
	display: none;
	cursor: pointer;
}

.chatbot-header-buttons {
	float: right;
}

.chatbot-feedback, .chatbot-refresh, .chatbot-toggle {
	font-size: .8em;
	color: white;
	cursor: pointer;
}

.feedback-text {
	display: none;
}
.chatbot-feedback:hover > .feedback-text {
	display: initial;
}

.chatbot-main {
	padding: 5px;
}

.chatbot-footer {
	background-color: white;
}

/* Vendor modal */
.vendor-modal-close-times {
	float: right;
	cursor: pointer;
	font-size: 1.5em;
	color: inherit;
	padding: 3px;
	margin: -3px;
}
.vendor-modal-close-times:hover {
	color: #4c4c4c;
}

.vendor-modal-content {
	max-height: 600px;
	font-size: 1.4em;
	line-height: 1.4em;
}

.vendor-modal-title-text {
	font-size: 2em;
	line-height: 1.5em;
	font-weight: 600;
}

.vendor-modal-logo {
	text-align: center;
}

.vendor-modal-logo-image {
	max-width: 200px;
}

.vendor-modal-details {
	margin: 20px 20px 10px 30px;
}

.vendor-modal-url {
	text-decoration: none;
}
.vendor-modal-url:hover {
	text-decoration: underline;
}

/* Custom tooltip */
.custom-tooltip {
	font-size: 1.3em;
    line-height: 1.3em;
    text-align: justify !important;
}

/* Custom */
.m-r-sm {
	margin-right: 8px;
}

.m-r-xs {
	margin-right: 4px;
}

.m-l-sm {
	margin-left: 8px;
}

.m-l-xs {
	margin-left: 4px;
}

.justify {
	text-align: justify;
}
