body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;

	background-color: #f9f9f9;
}

.content {
    max-width: 1500px;
	margin: auto;
	background-color: #f3f3f3;
	border-radius: 10px 10px 0px 0px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.vendors-header {
    background-color: #f3f3f3;
	color: #1f1f1f;
	font-size: 1.5em;
    padding: 10px 10px 10px 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    border-radius: 10px 10px 0px 0px;
}

.filtering-column-content {
	background-color: #f3f3f3;
	padding: 10px;
}

.filter-box {
	padding: 10px 0px;
	margin: 5px 0px;
	background-color: white;
}

.filter-title-box {
	padding: 10px 0px;
}

.filter-title-box:hover {
	cursor: pointer;
}

.filter-title {
	padding-left: 20px;
	font-size: 1.2em;
    font-weight: 400;
    color: #00a69c;
}

.selected-filter {
	padding-left: 45px;
    margin-top: -10px;
	font-size: 0.8em;
	font-weight: 400;
    color: #0a2d37;
	cursor: pointer;
}

.selected-filter > .fa + .fa, .selected-filter:hover > .fa {
	display: none;
}
.selected-filter:hover > .fa + .fa {
	display: initial;
}

.choice > .fa-info-circle {
	display: none;
}
.choice:hover > .fa-info-circle {
	display: initial;
}

.choice > .custom-badge {
	display: none;
}
.choice:hover > .custom-badge {
	display: initial;
}

.choices-box {
}

.choice {
    padding: 4px 0px 4px 35px;
	cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.choice:hover, .choice-selected {
    background-color: #f3f3f3;
}

.vendors-list {
	margin-top: 5px;
}

/* A nice aspect ratio for a logo image would be 2/3: 300x200 */
.new-vendor {
	width: 180px;
    height: 120px;
    float: left;
    margin: 10px 1%;
	background-color: white;
	box-shadow: 2px 2px 4px #aaa;
}
.new-vendor:hover {
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
    transition: .35s;
	cursor: pointer;
}

.vendor-image {
    width: 95%;
    height: 95%;
    padding: 5px;
}

.badge {
	color: #00a69c;
}

.custom-badge {
    background-color: #00a69c;
    color: white;
    border-radius: 25%;
    text-align: center;
    padding: 3px 5px;
    font-size: 0.7em;
    font-weight: 700;
}

/* Custom tooltip */
.custom-tooltip {
	font-size: 1.3em;
    line-height: 1.3em;
    text-align: justify !important;
}

/* Custom */
.m-r-sm {
	margin-right: 8px;
}

.m-r-xs {
	margin-right: 4px;
}

.m-l-sm {
	margin-left: 8px;
}

.m-l-xs {
	margin-left: 4px;
}
