body {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;

	background-color: #f9f9f9;
}

.content {
    max-width: 1500px;
	margin: auto;
	background-color: #f9f9fb;
	border-radius: 10px 10px 0px 0px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.vendors-header {
    background-color: #0a2d37;
	color: white;
	font-size: 1.5em;
    padding: 10px 10px 10px 30px;
    font-weight: 600;
    letter-spacing: 1.5px;
    line-height: 1.5em;
    border-radius: 10px 10px 0px 0px;
}

.filtering-column-content {
	background-color: #f9f9fb;
	padding: 10px;
}

.filter-box {
	padding: 10px 0px;
	margin: 5px 0px;
	background-color: white;
}

.filter-title-box {
	padding: 10px 0px;
}

.filter-title-box:hover {
	cursor: pointer;
}

.filter-title {
	padding-left: 20px;
	font-size: 1.2em;
    font-weight: 400;
    color: #00a69c;
}

.selected-filter {
	padding-left: 45px;
    margin-top: -10px;
	font-size: 0.8em;
	font-weight: 400;
    color: #0a2d37;
	cursor: pointer;
}

.selected-filter > .fa + .fa, .selected-filter:hover > .fa {
	display: none;
}

.selected-filter:hover > .fa + .fa {
	display: initial;
}

.choices-box {
}

.choice {
    padding: 4px 0px 4px 35px;
	cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.choice:hover, .choice-selected {
    background-color: #f9f9fb;
}

.vendors-list {
	padding-top: 10px;
}

.vendor {
	padding: 0 10px;
}

/* Custom */
.m-r-sm {
	margin-right: 8px;
}

.m-r-xs {
	margin-right: 4px;
}

.m-l-l {
	margin-left: 8px;
}
