.sqs-layout > .sqs-row {
	margin-left: 0;
	margin-right: 0;
}

#siteWrapper {
	background-color: rgb(255, 255, 255);
}

#preFooter {
	background-color: rgb(208, 240, 236);
}

#postHeader {
	width: auto;
    margin: auto;
    max-width: 1020px;
    margin-top: 20px;
}
#postHeader .sqs-layout {
	padding-bottom: 20px;
}
#postHeader .sqs-block {
	padding-bottom: 0;
	padding-left: 0;
}

#page {
	background-color: rgb(255, 255, 255);
	padding: 0;
	max-width: none;
}

.sqs-layout .sqs-col-1-5, .span-1-5 {
	width: 15% !important;
	float: left !important;
}
.sqs-layout .sqs-col-8-5, .span-8-5 {
	width: 85% !important;
	float: left !important;
}

#google_translate_element {
    background-color: #0a2d37;
    text-align: right;
    padding: 0.2em 0.2em 0 0;
}

.header-inner {
    padding: 0 0 20px 0;
}
