.sqs-layout > .sqs-row {
	margin-left: 0;
	margin-right: 0;
}

#siteWrapper {
	background-color: rgb(255, 255, 255);
}

#preFooter {
	background-color: rgb(208, 240, 236);
}

#postHeader {
	width: auto;
    margin: auto;
    max-width: 1020px;
    margin-top: 20px;
}
#postHeader .sqs-layout {
	padding-bottom: 20px;
}
#postHeader .sqs-block {
	padding-bottom: 0;
	padding-left: 0;
}

#page {
	background-color: rgb(255, 255, 255);
	padding: 0;
	max-width: none;
}

#intro {
	padding-top: 30px;
	background-color: #F7F7FA;
	box-shadow: 1px 2px 2px #aaa;
	margin-bottom: 20px;
	width: auto;
    margin: auto;
    max-width: 1020px;
}

i.material-icons {
	font-size: 40px;
    float: left;
    padding: 4px 7px;
    color: #023b48;
}


#intro div.row {
	padding-left: 4px;
	padding-right: 4px;
}

#intro p {
	color: #666;
}
#intro p.button {
	color: white;
}

#prehead3 {
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
}

.prehead {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    padding-bottom: 24px;
    padding-left: 17px;
    width: auto;
    margin: auto;
    max-width: 1020px;
}

.prehead h2 {
	color: #999;
	font-weight: 400;
}

#chatbot {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.67);
	z-index: 10000;
	overflow: scroll;
}
#overlay h1 {
	margin-top: 16px;
	font-weight: 500;
}
#overlay p {
	font-size: 16px;
    line-height: 24px;
    font-weight: 300;
}
#overlay label {
	color: #999;
    font-size: 16px;
    font-weight: 400;
}
#overlay span.required {
	display: none;
}
#overlay div.span-6.white {
	background: white;
}
@media screen and (min-width: 1000px) {
	#overlay div.span-6 {
		width: 33%;
	}
	#overlay div.span-3 {
		width: 33%;
	}
}
@media screen and (max-width: 1000px) {
	#overlay div.span-6 {
		width: calc(100% - 48px);
	}
	#overlay div.span-3 {
		width: 24px;
	}
}

#persona-select {
	height: 50px;
	margin: 0 16px;
	width: calc(100% - 32px);
}
.persona-icon {
	height: 32px;
	width: 32px;
}
@media screen and (min-width: 1000px) {
	#overlay #overlay-form {
		top: 192px;
	}
	#persona-holder {
		display: block;
	}
	#persona-select {
		display: none;
	}
}
@media screen and (max-width: 1000px) {
	#bot {
		display: none;
	}
	ul.tags {
		display: none;
	}
	#persona-select {
		display: inline-block;
	}
	#persona-holder {
		display: none;
	}
	h1 {
		padding-left: 16px;
	}
	div.row.objective,
	div.row.vendor {
		padding: 0 16px;
	}
	.bggrey .tile h3,
	.bggrey .tile .use_case {
		width: calc(100% - 24px) !important;
	}

}
#overlay #close {
	position: absolute;
    right: 20px;
    top: 0px;
    cursor: pointer;
}


.dynamic-head, .dynamic-tiles {
	overflow: hidden;
}
.dynamic-head a {
	color: #1f1f1f;
	text-decoration: underline;
}
#head1, #head2, #head3 {
	display: none;
	opacity: 0;
	width: auto;
    margin: auto;
    max-width: 1020px;
}
#head2, #head3 {
	padding-top: 30px;
}
#head1 a, #head2 a, #head3 a {
	color: #023b48;
	font-weight: bold;
}
#head1 a:hover, #head2 a:hover, #head3 a:hover {
	text-decoration: none;
}
#tiles1, #tiles2, #tiles3 {
	display:none;
	height: 0px;
	background: #f9f9fb;
}

.collection-type-page #content {
	margin-bottom: 10px;
	padding-top: 0px;
}
.bggrey {
	background: #f9f9fb;
	padding-top: 8px;
	padding-bottom: 16px;
}
.bggrey.nopad {
	padding: 4px;
}
.bggrey .row {
	padding: 0;
	padding-bottom: 2px;
	margin: 0;
}
.bggrey .tile {
	background: white;
	box-shadow: 1px 2px 2px #aaa;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	width: auto;
    max-width: 1020px;
    float: none;
    min-height: 48px;
}
.bggrey .adder .tile {
	background-color: #d8f2f0;
}
.bggrey .tile:hover {
	background-color: #d8f2f0;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
    transition: .35s;
}
.bggrey .adder .tile:hover {
	background-color: #00a69e;
}
.bggrey .tile:active {
	background-color: #00a69e;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}
.bggrey .tile:active:hover {
	background-color: rgba(0, 166, 158, 0.8);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
    transition: .35s;
}
.bggrey .tile:active h3,
.bggrey .tile:active ul li,
.bggrey .adder .tile:hover h3,
.bggrey .adder .tile:hover ul li {
	color: white;
}
.bggrey .cats {
	background-color: #ffffff00;
	margin-bottom: 6px;
	box-shadow: none;
	padding-top: 16px;
    padding-bottom: 16px;
    margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	width: auto;
    max-width: 1020px;
    float: none;
}
.bggrey .cats .cat {
	border: 2px solid #1f1f1f;
	border-radius: 16px;
	border-width: 1px;
	width: 14%;
	margin-left: 4px;
	padding: 8px;
	text-align: center;
	height: 70px;
}
.bggrey .cats .cat.selected {
	border-color: #00a69c;
	background-color: #00a69e;
	color: white;
}
.bggrey .cats .cat.selected:hover {
	background-color: rgba(0, 166, 158, 0.8);
	transition: .35s;
}
.bggrey .cats .cat i {
	font-size: 2em;
	padding-bottom: 8px;
}
.bggrey .cats .cat .catlabel {
	font-weight: bold;
	padding-bottom: 0px;
	line-height: 1.1em;
    display: block;
    font-size: 13px;
}
.bggrey .tile h3 {
	width: 75%;
	float: left;
    color: #00a69c;
    font-weight: 500;
}
.bggrey .tile ul {
	width: 20%;
	float: right;
}
.bggrey .tile.selected {
	background: #00a69c;
}
.bggrey .tile.selected h3,
.bggrey .tile.selected ul li {
	color:white;
}
.bggrey .tile h2, .bggrey .tile h3, .bggrey .tile p {
	margin: 0;
	padding: 12px 12px 0px 12px;
}
.use_case {
	width: 75%;
	padding-bottom: 12px !important;
}
.bggrey .span-1 {
	height: 0.03px;
}

.bggrey .vtile {
	box-shadow: 1px 2px 2px #aaa;
	margin-top: 8px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	width: auto;
    max-width: 1020px;
    float: none;
    min-height: 48px;
    display:flex;
    background-color: white;
}
.bggrey .vtile:hover {
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.25);
	transition: .35s;
}
.sqs-layout .sqs-col-1-5, .span-1-5 {
	width: 15% !important;
	float: left !important;
}
.sqs-layout .sqs-col-8-5, .span-8-5 {
	width: 85% !important;
	float: left !important;
}
.bggrey .vtile .vlogo {
	background-color: #00a69c11;
}
.bggrey .vtile .vlogo .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.bggrey .vtile .vlogo img {
	width: 80%;
    margin: 0 10%;
	object-fit: contain;
	object-position: center;
	min-height: 100%;
}
.bggrey .vtile .vcontent {
	background: white;
	height: 100%;
}
.bggrey .vtile .vcontent h4,
.bggrey .vtile .vcontent p {
	padding: 0 0 0 16px;
	margin: 6px;
}
.bggrey .vtile .vcontent h4 {
  font-family: Europa;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
  margin-bottom: 8px;
  margin-top: 12px;
}
.bggrey .vtile .vcontent p.location {
  height: 19px;
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #888888;
}
.bggrey .vtile .vcontent p.technologies {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}
.oldtitle {
	color: #888;
}

h1 {
	font-size: 36px;
}

h2 {
    font-size: 35px;
}
h3 {
	font-size: 20px;
	text-transform: none;
	letter-spacing: normal;
}

h1.page-title {
	margin-top: 30px;
	text-align: left;
	font-weight: normal;
}

h2.box-title {
	text-align: center;
    font-weight: normal;
}
h2.left {
	text-align: left;
}
.fleft {
	width: 50%;
	float: left;
}
.fright {
	width: 50%;
	float: right;
}

.sqs-block {
	padding-top: 0;
	padding-bottom: 18px;
}
.underline {
	text-decoration: underline !important;
	font-weight: bold;
}

p.button {
	text-align: center;
	text-transform: uppercase;
	background-color: #023b48;
	color: white;
	border-radius: 40px;
    padding: 20px 0px 14px;
    width: 280px;
    height: 30px;
    font-weight: normal;
    font-size: 20px;
}
p.button a {
	color: white !important;
}
p.button:hover {
	cursor: pointer;
	box-shadow: 0 8px 16px 0 rgba(2, 59, 72, 0.75);
	transition: .35s;
}
p.button:active {
	background-color: rgba(2, 59, 72, 0.9);
  	box-shadow: 0 2px 16px 0 rgba(2, 59, 72, 0.75);
}
p.button.bsmall {
	width: 200px;
    height: 14px;
    padding: 10px 0px 20px;
    border-radius: 24px;
    font-size: 16px;
	margin: 0;
}
p.button.bempty {
	background: #ffffff00;
	border: 2px solid rgb(7, 45, 55);
	color: rgb(7, 45, 55) !important;
	font-weight: bold;
	width: 300px;
}
p.button.bempty a {
	color: rgb(7, 45, 55) !important;
}
p.button.binactive {
	background: #fff;
	border: 2px solid #999;
	color: #999;
	font-weight: bold;
	margin:0;
}
p.button.binactive:hover,
p.button.bempty:hover,
.cat:hover {
	box-shadow: none;
	background-color: rgba(136, 136, 136, 0.1);
	transition: .35s;
}
p.button.edit {
	width: 116px;
}
p.button.vendorlist:hover {
	background-color: rgba(2, 59, 72, 0.1);
	transition: .35s;
}
p.button.binactive:active,
p.button.bempty:active,
.cat:active {
	box-shadow: none;
	background-color: rgba(136, 136, 136, 0.4);
}
p.button.binactive a {
	color: #999 !important;
}
p.button.breset {
	background: #fff;
	border: 2px solid #0a2d37;
	color: #0a2d37;
	font-weight: bold;
}
p.button.breset a {
	color: #0a2d37 !important;
}
p.button.boff {
	cursor: default;
}
p.button.boff:hover {
	box-shadow: none;
	transition: .35s;
}

p.link {
	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
}
p.link:hover {
	text-decoration: underline;
	transition: .35s;
}

.tags {
	margin-top: 4px;
	margin-bottom: 0;
	color: #888;
	font-weight: normal;
	padding-left: 16px;
}
.tags li {
	list-style: none;
	font-size: 14px;
}